@tailwind base;
@tailwind components;

@tailwind utilities {
  .clip-mobile {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .clip-desktop {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }
}

:root {
  --ls-blue: #233C7B;
  --ls-yellow: #F1AA38;
  --ls-white: #f2f4f3;
  --ls-green: #43AA8B;
  --ls-purple: #D2EBF2;
  --ls-handwritten: "Caveat"
    --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

html, body {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
textarea,
input,
select,
a{
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;

}